*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #2c3e50;
    font-family: 'Yusei Magic', sans-serif;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 60px;
}
.contenedor-galeria{
    /*Tamaño del contenedor para poder mostrar las 5 imgs*/
    width: 800px;
    /*Altura del contenedor*/
    height: 320px;
    overflow: hidden;
    margin: 50px auto;   
    box-shadow: 0 0  10px 1px rgba(0, 0, 0, 0.35);
}
.contenedor-galeria li {
    position: relative;
    display: block;
    /*800px del contenedor / 5 imagenes = 160px de ancho por imagen*/
    width: 160px;
    float: left;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}
.contenedor-galeria ul:hover li{
    /*800px-640px=160px / 4 --> tamaño de las imagenes aplicado el hover*/
    width: 40px;
    filter: brightness(50%); 
}
.contenedor-galeria ul li:hover{
    width: 640px;
    filter: brightness(100%);
}
.contenedor-galeria li img{
    display: block;
    width: 640px;
    height: 100%;
}
.titulo-imagen{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    width: 100%;
    display: block;
    transition: all 0,5s ease;
    animation: cambia-color 10s linear infinite;
    background-size: 400% 400%;
}
@keyframes cambia-color{
    0%{
        background-position: 0%, 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    100%{
        background-position: 0%, 100%;
    }
}
.titulo-imagen a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    text-shadow: 0 1px 2px #000;
    transition: all 0.5s ease;
}
.contenedor-galeria ul li:hover .titulo-imagen{
    top: 0%;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
}
.titulo-imagen:hover a {
    transform: scale(1.1);
    transition: all 0,5s ease;
}
.titulo-imagen:active{
    background: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:1000px) {
    .contenedor-galeria {
        width: 95%;
    }
}

@media screen and (max-width:700px) {
    .contenedor-galeria {
        width: 90%;
    }
    .contenedor-galeria img {
        width: 48%;
    }
}

@media screen and (max-width:450px) {
    h1 {
        font-size: 22px;
    }
    .contenedor-galeria {
        width: 98%;
    }
    .contenedor-galeria img {
        width: 80%;
    }
}